doctype html
html
    head
        - var title = `${blogName}`
        - var description = "A blog about programming, hardware & technology. In this blog speak about new technologys etc..."
        - var author = "clonalejandro"
        - var thumb = `${blogLogo}`
        - var tagsString = "hardware programming tech technology blog blogger system cms js javascript java css html android arduino hacking internet network networking node react native swift ios linux windows star wars clone wars"

        meta(name="DC.title", content=`${title}`)
        meta(property="og:title", content=`${title}`)
        meta(name="twitter:title", content=`${title}`)
        meta(charset="utf-8")
        meta(lang="es")
        meta(http-equiv="Content-Language", content="en")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="description", content=`${description}`)
        meta(name="keywords", content=`${tagsString}`)
        meta(name="author", content=`${author}`)
        link(rel="apple-touch-icon", sizes="120x120", alt=`${title}`, href=`${blogLogo}?size=120`)
        link(rel="apple-touch-icon", sizes="152x152", alt=`${title}`, href=`${blogLogo}?size=152`)
        link(rel="icon", href=`${blogLogo}`, alt=`{title}`, type="image/png")
        link(rel="shortcut icon", href=`${blogLogo}`, alt=`${blogLogo}`, type="image/png")
        meta(name="robots", content="all")
        meta(name="distribution", content="global")
        meta(name="google", content="translate")
        meta(name="DC.creator", content=`${author}`)
        meta(name="DC.description", content=`${description}`)
        meta(property="og:description", content=`${description}`)
        meta(property="og:type", content="website")
        meta(property="og:url", content=`${webURI}`)
        meta(property="og:image", content=`${thumb}`)
        meta(property="og:site_name", content=`${blogName}`)
        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content=`${twitter}`)
        meta(name="twitter:description", content=`${description}`)
        meta(name="twitter:image", content=`${thumb}`)
        meta(name="twitter:url", content=`${webURI}`)
        meta(name="generator", content="clonacms")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(name="theme-color", content="#000000")

        title #{title}

        //Adsense
        script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        script
            include assets/js/adsense.js
        link(href="https://clonalejandro.github.io/cdn/clonaweb/malextrap.min.css", rel="stylesheet")
        style 
            include assets/css/style.css
    body
        div#modalNews.modal.big
            div.modal-container
                p Would you like to be aware of our news?
                    br 
                    | You can subscribe to newsletter
                form(action="/api/create-mail", method="post")
                    div.form-group
                        div 
                            label Email 
                                i.icons-mail
                            input(type="email", name="email", required)
                        br
                        center
                            button.btn.green.animated(type="submit") Subscribe
                a.no-decoration.modal-close.img-replace(href="#")
        div#wrapper
            header.header
                div.title
                    include components/logo.svg
                    h1.headline #{blogName}
                    h2.subtitle A Blog about 
                        strong.subtitleTyped

            div.container.flex-container
                span.border
                    span.border-title Lastest Post
                div.columns#posts
                
                center
                    button#load-more.btn.adapter.blue.animated Load more
                        i.icon.icons-arrow-thin-right
        
        include components/footer.pug
        include components/script.pug
        script const apiKey = '#{apiKey}'
        script 
            include assets/js/modal.js
        script
            include assets/js/home.js