doctype html
html
    head
        meta(name="DC.title", content=`${title}`)
        meta(property="og:title", content=`${title}`)
        meta(name="twitter:title", content=`${title}`)
        meta(charset="utf-8")
        meta(lang="es")
        meta(http-equiv="Content-Language", content="en")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="description", content=`${descriptionMeta}`)
        meta(name="keywords", content=`${tagsString}`)
        meta(name="author", content=`${author}`)
        link(rel="apple-touch-icon", sizes="120x120", alt=`${title}`, href=`${blogLogo}?size=120`)
        link(rel="apple-touch-icon", sizes="152x152", alt=`${title}`, href=`${blogLogo}?size=152`)
        link(rel="icon", href=`${blogLogo}`, alt=`{title}`, type="image/png")
        link(rel="shortcut icon", href=`${blogLogo}`, alt=`${blogLogo}`, type="image/png")
        meta(name="robots", content="all")
        meta(name="distribution", content="global")
        meta(name="google", content="translate")
        meta(name="DC.creator", content=`${author}`)
        meta(name="DC.description", content=`${descriptionMeta}`)
        meta(property="og:description", content=`${descriptionMeta}`)
        meta(property="og:type", content="website")
        meta(property="og:url", content=`${webURI}`)
        meta(property="og:image", content=`${thumb}`)
        meta(property="og:site_name", content=`${blogName}`)
        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content=`${twitter}`)
        meta(name="twitter:description", content=`${descriptionMeta}`)
        meta(name="twitter:image", content=`${thumb}`)
        meta(name="twitter:url", content=`${webURI}`)
        meta(name="generator", content="clonacms")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(name="theme-color", content="#000000")

        title #{title}

        //Cookies
        link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css")
        script(async, src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js")
        script.
            window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                    "background": "#3c404d",
                    "text": "#d6d6d6"
                    },
                    "button": {
                    "background": "transparent",
                    "text": "#8bed4f",
                    "border": "#8bed4f"
                    }
                },
                "position": "bottom-right",
                "content": {
                    "dismiss": "Let's go",
                    "href": "/tos"
                }
            })});

        link(href="https://clonalejandro.github.io/cdn/clonaweb/malextrap.min.css", rel="stylesheet")
        if isAuthenticated
            style
                include assets/editor/editor.min.css
        style
            include assets/lazyload/lazyload.min.css
            include assets/autocomplete/autocomplete.min.css
            include assets/css/style.min.css
            include assets/css/post.min.css
    body
        include components/noscript.pug
        
        div#modalSearch.modal
            div.modal-container
                p Search a post in the input
                form(onsubmit="return false;", autocomplete="off")
                    div.form-group
                        div.autocompleter
                            label Search 
                                i.icons-search
                            input(style="width:100%", placeholder="Post name", name="search")
                        br
                        center
                            button.btn.first-gradient.animated#buttonSearch(type="submit") Load
                a.no-decoration.modal-close.img-replace(href="#")

        div#wrapper
            div.navbar
                div.nav-container
                    a.no-decoration(href="/") Home
                    a.no-decoration.item#search Search
                    a.no-decoration.item(href="mailto:contact@clonalejandro.me") Contact
            header.header
                div.title
                    h1.headline #{title}
                    h2.subtitle#description #{description}
                    img.thumb(src='', data-src=`${thumb}`)
            div.container
                span.border
                    span.border-title #{title}
                div#content
                    != content
                div.post-footer
                    div.columns
                        div.post-info
                            strong #{author} 
                            br
                            span.date On #{date}
                        div.tags
                            each tag in tags
                                label.label.tag= tag
                br
                div(id="disqus_thread")
                if isAuthenticated
                    br
                    span.border
                        span.border-title Editor
                    textarea#editor
                    br
                    center
                        button.btn.adapter.btn-icon.green.animated.updater(id=`${id}`, onclick="onUpdaterClick()") Update
                            i.icon.icons-upload

        script const postDate = '#{date}'; const apiKey = '#{apiKey}'; const content = '#{content}';
        include components/footer.pug
        include components/script.pug
        include components/disqus.pug
        script
            include assets/lazyload/lazyload.min.js
        if isAuthenticated
            script
                include assets/editor/editor.min.js
        script
            include assets/autocomplete/autocomplete.min.js
        script
            include assets/js/post.min.js